.Window{
	-fx-background-color: linear-gradient(#86C5FC, #E8C3FD);
}

.Title{
	-fx-text-fill: #ffffff;
	-fx-font-weight: bold;
}

.Button{
	-fx-background-color: #75B4EB;
	-fx-background-radius: 8px;
	-fx-text-fill: #ffffff;
}

.Button2{
	-fx-background-color: #ffffff;
	-fx-background-radius: 8px;
	-fx-text-fill: #75B4EB;
}


.TextField{
	-fx-border-color: #75B4EB;
	-fx-background-color: transparent;
	-fx-text-fill: #ffffff;
	-fx-border-radius: 15px;
}

.Label{
	-fx-text-fill: #ffffff;
	
}

